@media screen and (max-width:850px) {
    
    .card{
        justify-content: center;
        align-items: center;
        h1{
            text-align: center;
            font-size: 1.5rem !important;
        }
        span{
            width: 100%;
        }
        .img{
            img
            {transform: none !important;}
        }
        .glass{
            margin-top: 2em;
            align-items: center;
            justify-content: center !important;
            p{
                font-size: 1em !important;
            }
        }
        >*{
            text-align: center;
            
        }
        .main{
            flex-direction: column-reverse;
        }
    }
    .ship{
        width: 100vw !important;
    }
    .hero{
        font-size: 2rem !important;
        line-height: 2rem !important;
    }




    .header{
        .menu,.acc{
            display: none;
        }
        .sandwich{
            display: block;

            
        }
        .sandwichEx{
            
            list-style: none;
            transform-origin: top;
            opacity: 1;
            z-index: 100;
            
            box-shadow: 0px 0px 10000px 1px white;
            a{
                color: $white;
            }
        }
        .none{
            display: none !important;
        }
    }
}
@media screen and (max-width:750px){
    .accountInfo{
        flex-direction: column;
        button{
            background: none !important;
        }
    }
}

@media screen and (max-width:900px){
    .upload{
        flex-direction: column !important;
        h1{
            font-size: 10vw;
        }
    }
    .uploadCardCover{
        flex-direction: column !important;
        .uploadCard{
            font-size: 3vw;
        }
        .instructions{
            ul{
                li{

                font-size: 5vw !important;
            }}
        }
    }
    .card{

        .rrev{
            flex-direction: column-reverse !important;
            .glass{
                justify-content: center !important;
                align-items: center;
                text-align: left !important;
            }
        }
    }
    .processList{
        h1{
            font-size: 5vw !important;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width:590px){
    .footer{
        flex-direction: column !important;
    }
}