@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '_variables';
@import '_header';
@import '_home';
@import '_card';
@import '_footer';
@import '_list';
@import '_upload';
@import '_media';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .1s smooth;
    
    
}  
body{
    background-color: $dark;
    color:$white;
    font-family: 'Poppins', sans-serif;
    
}
.logo{
    color:$gray;
    position: relative;
    // @include underLine($green);
    span{

        flex: 1;
        
        
        
        background-image: linear-gradient(to right, $green 0, $green 100%);
        background-position: 0 1.2em;
        background-size: 0 100%;
        background-repeat: no-repeat;
        display: inline;
        transition: .5s ease;
        background-position: 0 0.2em;
      } 
      // background-position: 0 -0.1em;
      &:hover{
          span{

              background-size: 100% 100%;
              color: $dark;
          }
      }
    &:hover{
        color: $green;
    }
}
h1{
    // font-family: 'DM Serif Display', serif;
    // font-family: 'Bellefair', serif;
    // font-family: 'Lobster', cursive;
}